<html>
<head>
    <title>CS 328 - Final Project (Group 7)</title>
    <script>
        var x = [];
        var y = [];
        var z = [];
        function handleMotionEvent(event) {

            x.push(event.acceleration.x);
            y.push(event.acceleration.y);
            z.push(event.acceleration.z);
           
        }
        window.addEventListener("devicemotion", handleMotionEvent, true);
        window.setInterval(function () {
            $("#update").load("/data?x=" + x.join() + "&y=" + y.join() + "&z=" + z.join());
        }, 5000)
            
    </script>
</head>
<body>
    <div id="update"></div>
</body>

</html>
