<html>
<head>
    <title>CS 328 - Final Project (Group 7)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var x = 0;
        var y = 0;
        var z = 0;
        function handleMotionEvent(event) {

            x = event.acceleration.x;
            y = event.acceleration.y;
            z = event.acceleration.z;
        }
        DeviceMotionEvent.requestPermission().then(response => {
            if (response == 'granted') {
                // Add a listener to get smartphone acceleration 
                // in the XYZ axes (units in m/s^2)
                window.addEventListener("devicemotion", handleMotionEvent, true);
                window.setInterval(function () {
                    $("#update").load("/data?x=" + x + "&y=" + y + "&z=" + z);
                }, 100)
            }
        });
        

    </script>
</head>
<body>
    Hey bestie <3
    <div id="update"></div>
</body>

</html>
